/* GRID

Contents
==================================================
    #Define grid
*/



/* #Define grid */

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside
);

.page {

	@include container;
	@include clearfix; 

}

.header {
	@include respond-to(med) {
		@include span(4 of 12);
	}
}

.main {
	@include respond-to(med) {
		@include span(4 of 12);
	}	
}

.footer {
	@include respond-to(med) {
		@include span(4 of 12);
	}
}