/* MIXINS

Contents
==================================================
    #breakpoints
    #REM
    #animation
    #transitions
    #opactiy
*/



/* #breakpoints */

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: $small) {
      @content;
    }
  }
 
  @else if $breakpoint == "med" {
    @media (min-width: $med) {
      @content;
    }
  }
 
  @else if $breakpoint == "large" {
    @media (min-width: $large) {
      @content;
    }
  }
  
  @else if $breakpoint == "xl" {
    @media (min-width: $xl) {
      @content;
    }
  }
}

/* #REM Calculater */

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/* #animation + Keyframe */

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }  
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }  
  @keyframes $animation-name {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

/* #transitions */

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/* #opacity */

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

