/* VARIABLES

Contents
==================================================
    #Colors
    #Sizes
    #Breakpoints
    #Grid
*/

/* #Colors */
$color-bg:white;
$color-primary:grey;
$color-copy:black;

/* #Sizes*/
$base-font-size: 16;
$base-line-height: 21;

/* #Breakpoints */
$small : 24em;
$med : 46.8em;
$large : 50em;
$xl : 73em;

/* #Grid */
$totalColumns : 12;
$gutterWidth : 1%;


